<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>File Read Complete!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
    /* Center the content vertically */
    html, body {
      height: 100%;
      display: flex;
      align-items: center;
    }
  </style>
</head>
<body>
<div class="container text-center">
    <h1 class="display-4">Process Complete!</h1>
    <h1 class="display-5">Please check output folder: C:/Users/Ced/Documents/Springboot/FileReader/output</h1>
    <a href="/file/uploadPage">Back to Upload Page</a>
</div>


<!-- Add Bootstrap JS and Popper.js scripts (for Bootstrap functionalities) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>